{% extends "__base__.html" %}
{% block title %}{% endblock %}
{% block content %}
<div class="dashboard-content border-dashed p-3 m-4 view-height">

    <div class="row border-bottom border-3 p-1 m-1">
        <div class="col noPadding"><h3 class="color-header text-uppercase">Lista
            Przepisów</h3></div>
        <div class="col noPadding d-flex justify-content-end mb-2">
            <a href="{% url 'add_recipe' %}" id="btn1" class="btn btn-success rounded-1 pt-1 pb-0 pr-4 pl-4">Dodaj przepis</a>
            &nbsp;
            <a href="{% url 'add_recipe_to_plan' %}" id="btn2" class="btn btn-success rounded-1 pt-1 pb-0 pr-4 pl-4">Dodaj przepis do planu</a>
        </div>
    </div>

    <table class="table border-bottom schedules-content">

        <thead>
        <tr class="d-flex text-color-darker">
            <th scope="col" class="col-1">ID</th>
            <th scope="col" class="col-2">NAZWA</th>
            <th scope="col" class="col-7">OPIS</th>
            <th scope="col" class="col-2 center">AKCJE</th>
        </tr>
        </thead>

        <tbody class="text-color-lighter">
        {% for recipe in recipes %}
            <tr class="d-flex">
                <th scope="row" class="col-1">{{ recipe.id }}</th>
                <td class="col-2">
                    {{ recipe.name}} ({{ recipe.votes }})
                </td>
                <td class="col-7">{{ recipe.description }}
                </td>
                {% if warning %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        {{ warning }}
                    </div>
                {% endif %}
                <td class="col-2 d-flex align-items-center justify-content-center flex-wrap">
                    <a href="{% url 'delete_recipe' pk=recipe.id %}" class="btn btn-danger rounded-1 text-light m-1">Usuń</a>
                    <a href="{% url 'recipe_details' pk=recipe.id %}" class="btn btn-info rounded-1 text-light m-1">Szczegóły</a>
                    <a href="{% url 'update_recipe' pk=recipe.id %}" class="btn btn-warning rounded-1 text-light m-1">Edytuj</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>

    </table>

    {% if recipes.has_other_pages %}
        <div class="btn-group pagination justify-content-center" role="group" aria-label="Item pagination">
            {% if recipes.has_previous %}
                <a href="?page={{ recipes.previous_page_number }}" class="btn btn-outline-primary">&laquo;</a>
            {% endif %}

            {% for page_number in recipes.paginator.page_range %}
                {% if recipes.number == page_number %}
                    <button class="btn btn-outline-primary active">
                        <span>{{ page_number }} <span class="sr-only">(current)</span></span>
                    </button>
                {% else %}
                    <a href="?page={{ page_number }}" class="btn btn-outline-primary">
                        {{ page_number }}
                    </a>
                {% endif %}
            {% endfor %}

            {% if recipes.has_next %}
                <a href="?page={{ recipes.next_page_number }}" class="btn btn-outline-primary">&raquo;</a>
            {% endif %}
        </div>
    {% endif %}


</div>
{% endblock content %}